.home-body-container{
    background-color: rgb(244, 246, 254);
}

.home-card-title{
    font-size: larger;
    font-weight: 600;
}

.home-card-leftside{
    display: flex;
    justify-content: end;
}