.login-body-container{
    background-color: rgb(209, 209, 209);
    height: 115vh;
}

.login-body-content{
    margin-top: 3rem;
    background-color: white;
    margin-right: 15rem;
    margin-left: 15rem;
    border-radius: 1rem;
}

.login-body-rightside{
    height: 50rem;
    background-image: url(../assets/pictureAtLogin.png);
    background-size: cover;
    border-radius: 1rem 0rem 0rem 1rem;
    background-repeat: no-repeat;
}

login-gadgeton-text{
    margin-bottom: 1rem;
}

.login-body-leftside{
    position: relative;
    top: 50%;
    transform: translateY(19%);
    padding-left: 5rem;
    padding-right: 5rem;
}

.form-item > input[type=email],
.form-item > input[type=password],
.form-item > input[type=rememberme]{
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.login-button{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    background-color: red;
    color: white;
    border-color: black;
    border-width: 0.075rem;
    border-radius: 0.25rem;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.login-registernow{
    text-decoration: none;
}
