.mycart-body-container{
    background-color: rgb(244, 246, 254);
}

.mycart-card-title{
    font-size: larger;
    font-weight: 600;
}

.mycart-card-leftside{
    display: flex;
    align-items: center;
}

.qty-edit-btn,
.remove-item-btn{
    display: flex;
    justify-content: center;
}

.mycart-secondsection-row{
    display: flex;
    align-items: center;
}

.mycart-total-price,
.mycart-checkout-btn{
    display: flex;
    justify-content: center;
}