.box {
    background-color: rgb(209, 209, 209);
    width: 100%;
    height: fit-content;
    padding: 5rem 5rem;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

.box-content{
    background: #ffffff;
    box-sizing: border-box;
    width: 40rem;
    height: fit-content;
    padding: 3rem 2rem;
    border: 1px solid #000000;
    border-radius: 1.5rem;
}

h1 {
    font-size: 20pt;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}

form {
    box-sizing: border-box;
}

.form-item{
    padding: 1rem 0;
}

.form-item > input[type=text],
.form-item > input[type=email],
.form-item > input[type=password]{
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.5rem 1rem;
}

.form-item > input[type=checkbox],
.form-item > input[type=radio]{
    margin-right: 0.5rem;
}

label{
    margin-bottom: 1rem;
    font-size: 12pt;
    font-weight: 500;
}

#male-label {
    margin-right: 1rem;
}

button{
    cursor: pointer;
    width: 100%;
    height: 3rem;
    outline: none;
    background: #a91f10;
    border: 1px solid #ffffff;
    transition: all 500ms;
    font-size: 12pt;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 1rem;
}

.box-content > p {
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
}

#radio-title {
    margin-bottom: 1rem;
    font-size: 12pt;
    font-weight: 500;
}
